.mint-section {
  color: #fff;
  height: calc(100vh - 80px);
}
.mint-heading h1 {
  font-size: 3.2em;
  text-transform: uppercase;
}
.mint-heading h3 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 400;
}
.mint-btn {
  padding: 9px 1.7em;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.min-box {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Mint Model */

.mint-model {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.mint-model .close-model-btn {
  width: 100%;
  margin-right: 3em;
}
.mint-model .close-model-btn button {
  background: transparent;
  font-size: 1.1em;
  color: rgb(231, 231, 231);
  cursor: pointer;
}
.mint-model .close-model-btn button:hover {
  color: rgb(190, 190, 190);
}
.model-wrapper {
  width: 25%;
  height: 70vh;
  background-color: #fff;
  border-radius: 10px;
}
.model-image {
  width: 120px;
  height: 120px;
}
.model-image img {
  width: 100%;
  height: 100%;
}
.nft-minted-heading h1 {
  color: #000;
  font-family: bebas;
  font-weight: 500;
  font-size: 1.8em;
}
.counter {
  border: 1px solid rgb(5, 5, 5);
}
.counter button {
  font-size: 1.4em;
  font-weight: bold;
  padding: 8px 14px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(5, 5, 5);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.counter button:hover {
  background-color: rgb(5, 5, 5);
  color: #fff;
}
.counter input {
  font-size: 1.4em;
  width: 3em;
  height: 100%;
  text-align: center;
  padding: 10px 0;
  color: rgb(5, 5, 5);
  font-weight: bold;
}
.nft-mint-btn .mint-btn {
  padding: 9px 1.8em;
  color: #fff;
  font-size: 1.1em;
  background-color: rgb(5, 5, 5);
  cursor: pointer;
}
.nftHashBox {
  padding-left: 10px;
  background-color: rgba(134, 134, 134, 0.2);
  color: rgb(5, 5, 5);
  border-radius: 6px;
}
.nftHashBox,
.error-box {
  margin-top: 1em;
}
.copy-hash-btn {
  padding: 0;
  padding: 8px;
  color: #fff;
  font-size: 13px;
  background-color: rgb(5, 5, 5);
  border-radius: 4px;
  cursor: pointer;
}
.copy-hash-btn:hover {
  background-color: rgb(46, 46, 46);
}
.error-icon {
  color: rgb(255, 60, 60);
}
.error-box {
  width: 15em;
  padding: 3px 8px;
  border-radius: 4px;
  background-color: rgba(248, 38, 38, 0.2);
  color: rgb(255, 60, 60);
}
.error{
  font-size: 12px;
}
.error-caution-icon{
  font-size: 26px;
}
.error-close-icon {
  font-size: 11px;
}
.error-close-btn{
  background: transparent;
  cursor: pointer;
}