@font-face {
  font-family: "coluna";
  src: url("./fonts/Coluna.otf");
}
@font-face {
  font-family: "bebas";
  src: url("./fonts/Bebas.ttf");
}
@font-face {
  font-family: "josefin";
  src: url("./fonts/Josefin.ttf");
}
@font-face {
  font-family: "aliron";
  src: url("./fonts/Aileron-Regular.otf");
}
@font-face {
  font-family: "raleway";
  src: url("./fonts/Raleway.ttf");
}
@font-face {
  font-family: "raleway-bold";
  src: url("./fonts/Raleway-Bold.ttf");
}
@font-face {
  font-family: "baufra";
  src: url("./fonts/Baufra-Regular.ttf");
}
@font-face {
  font-family: "tisa";
  src: url("./fonts/Tisa\ Regular.ttf");
}
@font-face {
  font-family: "tisa-light";
  src: url("./fonts/Tisa\ Sans\ Pro\ Light.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html { 
  background: url(./images/bg3.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
button,
input {
  border: none;
  outline: none;
}
ul li {
  list-style: none;
}
.App {
  backdrop-filter: blur(4px);
}
h1,
h2,
h3{
  margin: 0;
  font-family: raleway-bold;
}
@import url("./utility.css");
